#nav-container {
  text-align: left;
  padding-top: 5px;
  font-size: 1.3em;
  padding: 0 20px;

  .active-link {
    color: #00acee;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    color: black;
    font-weight: bold;
    &:hover {
      color: #00acee;
      span {
        background: #e8f4f8;
        transition: all 0.2s ease-in-out;
      }
    }

    span {
      padding: 10px;
      border-radius: 20px;
      .fa-twitter {
        color: #00acee;
      }
    }
  }
}
