#nav-container {
  text-align: left;
  padding-top: 5px;
  font-size: 1.3em;
  padding: 0 20px;

  .MuiBadge-colorPrimary {
    background: #00acee;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .active-link {
    color: #00acee;
    .MuiSvgIcon-root,
    .MuiListItemText-root {
      color: #00acee;
    }
  }

  .mobile-nav {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .MuiListItemIcon-root {
      padding: 10px 0;
      justify-content: center;
    }
  }
}
