@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.darkmode {
  background: #141d26;

  .MuiInputBase-input {
    color: white !important;
  }

  .MuiTypography-root {
    color: white;
  }

  .MuiChip-root {
    background: #243447;
  }

  .MuiFormLabel-root {
    color: white;
  }

  .MuiDivider-root {
    background-color: rgb(56, 68, 77);
  }

  .MuiButtonBase-root {
    &:hover {
      background: #243447;
    }
  }

  .followers-container {
    .following,
    .followers {
      color: gray;
      span {
        color: white !important;
      }
    }
  }

  .MuiButtonBase-root {
    color: #ffffff;
    .MuiSvgIcon-root {
      color: #ffffff;
    }
  }

  .MuiPaper-root {
    background: #141d26;
    color: white;
    border-color: rgb(56, 68, 77);

    .retweet-container {
      border-color: rgb(56, 68, 77) !important;
    }

    .MuiSvgIcon-root,
    p {
      color: #ffffff;
    }

    .icons {
      p {
        color: white !important;
      }
    }
  }
}
