#comment-header-container {
  .comment-info-nav {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e6ecf0;

    a {
      align-self: center;
      .fa-arrow-left {
        color: #00acee;
      }
    }

    h1 {
      font-size: 20px;
      padding-left: 20px;
    }
  }

  .retweet-container {
    border: 2px solid #e6ecf0;
    border-radius: 10px;
    padding: 10px;
    display: flex;

    .MuiAvatar-root {
      width: 50px;
      height: 50px;
    }

    .info-container {
      display: flex;
    }
  }

  .container {
    text-align: left;
    display: flex;
    padding: 15px;

    .MuiAvatar-root {
      width: 50px;
      height: 50px;
    }

    .comment-info {
      display: flex;
    }

    .content-container {
      padding: 10px 0;
    }

    p {
      padding-left: 10px;
    }

    a {
      font-weight: bold;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    .date {
      color: gray;
    }
  }

  .likes {
    padding: 10px 15px;
    border-top: 1px solid #e6ecf0;
    display: flex;
    justify-content: space-between;

    p {
      align-self: center;
    }
  }

  .icons {
    display: flex;
    text-align: left;
    padding: 10px 0 10px 10px;

    .heart-icon {
      display: flex;
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        color: pink;
      }

      p {
        padding-left: 5px;
        color: black;
      }
    }

    .comment-icon {
      cursor: pointer;
      display: flex;

      &:hover {
        color: #00acee;
      }

      p {
        padding-left: 5px;
        color: black;
      }
    }

    .MuiSvgIcon-root {
      font-size: 20px;
    }
  }
}
