.darkmode {
  background: #141d26;

  #settings-dialog-container {
    .settings-icon {
      color: white;
    }
  }

  .MuiListItemIcon-root {
    color: white;
  }

  .MuiInputBase-input {
    color: white !important;
  }

  .MuiTypography-root {
    color: white;
  }

  .MuiChip-root {
    background: #243447;
  }

  .MuiFormLabel-root {
    color: white;
  }

  .MuiDivider-root {
    background-color: rgb(56, 68, 77);
  }

  .MuiButtonBase-root {
    &:hover {
      background: #243447;
    }
  }

  .followers-container {
    .following,
    .followers {
      color: gray;
      span {
        color: white !important;
      }
    }
  }

  .MuiButtonBase-root {
    color: #ffffff;
    .MuiSvgIcon-root {
      color: #ffffff;
    }
  }

  .MuiPaper-root {
    background: #141d26;
    color: white;
    border-color: rgb(56, 68, 77);

    .retweet-container {
      border-color: rgb(56, 68, 77) !important;
    }

    .MuiSvgIcon-root,
    p {
      color: #ffffff;
    }

    .icons {
      p {
        color: white !important;
      }
    }
  }
}

.small {
  font-size: 10px;
}

.default {
  font-size: 16px;
}

.large {
  font-size: 22px;
}

.blue {
}

.red {
  .MuiButton-containedPrimary {
    background: red !important;
    color: white;
  }
  .MuiButton-root,
  MuiButton-label {
    background: red;
    color: white;
  }

  .MuiButton-label {
    color: white;
  }
}

.purple {
}

.orange {
}

.green {
}
