#tweet-input-container {
  // border: 1px solid rgb(230, 236, 240);

  h1 {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 236, 240);
  }

  .input-container {
    text-align: left;
    display: flex;
    padding: 15px;

    .MuiAvatar-root {
      width: 50px;
      height: 50px;
    }

    .tweet-input-form {
      width: 100%;
      padding-left: 10px;

      .MuiTextField-root {
        width: 100%;
      }
    }
  }

  .tweet-button {
    text-align: center;
    width: 80px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
