#tweet-input-container {
  border: 1px solid rgb(230, 236, 240);

  h1 {
    text-align: left;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 236, 240);
  }

  .input-container {
    text-align: left;
    display: flex;
    padding: 15px;
    img {
      width: 50px;
      border-radius: 50%;
    }

    input {
      margin-left: 15px;
      font-size: 20px;
      border: none;
      outline: none;
      width: 100%;
    }
  }

  .tweet-button {
    text-align: center;
    background: #00acee;
    border-radius: 20px;
    width: 80px;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    &:hover {
      background: darken(#00acee, 5%);
    }
  }
}
